$active-area: 5rem;

$icon-size    : 60px;
$medium-active-area: 3.5rem;
$small-icon: 2rem;

.Button {
  display: grid;
    place-content: center;
    position: relative;

  width: $active-area;
    height: $active-area;

  // background: black;
  border-radius: 50%;

  img {
    width: 3rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.medium-button {
  width: $medium-active-area;
    height: $medium-active-area;

  img {
    width: calc($medium-active-area - 1rem);
      height: calc($medium-active-area - 1rem);
  }
}

.small-button {
  width: $medium-active-area;
    height: $medium-active-area;

  img {
    width: $small-icon;
      height: $small-icon;
  }
}

.click-wave {
  animation: wave .3s;
  animation-timing-function: ease-in-out;
}

@keyframes wave {
  0%{
    background: transparent;
  }
  100%{
    background: rgba(166, 166, 166, .5);
  }
}