@use '@assets/styles/index.scss' as idx;

.AddPlaylistSong {
  display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: min-content calc(100% - 3.5rem - 3.5rem);

  position: fixed;
    top: 0;
    z-index: 300;

    height: 100%;

  background: idx.$background;
  box-shadow: -15px 0px 5px 0px rgba(0,0,0,0.4);;
}

.AddPlaylistSong__header{
  display: flex;
    column-gap: idx.$general-padding;
    align-items: center;

  padding: idx.$general-padding;

  .Button {
    transform: rotate(180deg);
  }
}

.AddPlaylistSong__search{
  margin-inline: idx.$general-padding;
}