@use '@assets/styles/index.scss' as idx;

.AddSelectedSongsButton {
  position: absolute;
    bottom: idx.$general-padding;
    left: 0;
    right: 0;
    margin-inline: auto;

  display: flex;
    justify-content: center;
    align-items: center;

  width: 90%;
    max-width: 400px;
    height: 5rem;

  background: idx.$highlights;
    border-radius: .8rem;
    cursor: pointer;

  h1 {
    font-size: 2rem;
  }
}