@use '@assets/styles/index.scss' as idx;

.AddWhenNoSongs {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.AddWhenNoSongs__img {
  width: 8rem;

  img {
    width: 100%;
    border-radius: 50%;
  }
}

.AddWhenNoSongs__message{
  margin-block: idx.$general-padding;
}