@use '@assets/styles/index.scss' as idx;

.App {
    display: flex;
     flex-direction: column;

    min-height: 100vh;
    max-height: 100vh;
}

main{
    overflow-y: scroll;
    height: 100vh;
}

.hidden {
    display: none;
}

@media (min-width: idx.$first-bp){
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
        height: 100%;
    }
    .Current {
        grid-area: current;
    }

}

@media screen and (orientation: landscape) {
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
        // height: calc(100% - 9.0%);
        height: 100%;
    }
    .Current {
        grid-area: current;
    }

}
