@use '@assets/styles/index.scss' as idx;

.Favorites {
  height: 100%;
}

.Favorites__header {
  padding:  idx.$general-padding;
    padding-block-start: 2.4rem; // use to match height from top to actual h2 text
}

.Favorites__no-favorites {
  display: grid;
    place-content: center;

  height: 80%;

  h2 {
    background: idx.$contrast-hl;
    padding: idx.$general-padding;

    border-radius: .4rem;
  }
}