@use '@assets/styles/index.scss' as idx;

$icon-dimensions: 2.4rem;

.Navbar {
  padding-inline: 1.6rem;
    padding-block: 1.6rem;
}

.Navbar__items {
  display: flex;
    justify-content: space-between;
}

.Navbar__items--right {
  display: flex;
}
