@use '@assets/styles/index.scss' as idx;

$icon-dimensions: 2.4rem;


.Navbar__items {
  display: flex;
  justify-content: space-between;
}

.Navbar__items--right {
  display: flex;
}

.Navbar__items__icon {
  width: $icon-dimensions;
    height: $icon-dimensions;
    margin-inline-start: .8rem;

  img {
    width: 100%;
      height: 100%;
  }
}