@use '@assets/styles/index.scss' as idx;

.PlaylistCard {
  display: flex;
    justify-content: space-between; 

  width: 100%;

  cursor: pointer;
    border-radius: .4rem;
}

.PlaylistCard__left {
  display: flex;
    flex-grow: 1;
    column-gap: .8rem;
    overflow: hidden;
}

.PlaylistCard__info {
  flex-grow: 1;

  width: calc(100% - 5.8rem);
  h1 {
    font-size: 1.6rem;

    white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  h2 {
    opacity: .5;
  }
}

.PlaylistCard__cover {
  width: 5rem;
    border-radius: .4rem;

  img {
    display: block;
    border-radius: .4rem;
  }
}