@use '@assets/styles/index.scss' as idx;

.PlaylistCard {
  display: flex;
    justify-content: space-between; 

  // outline: 2px solid red;
  cursor: pointer;
    border-radius: .4rem;
}

// .PlaylistCard--hover {
//   &:hover {
//     background: idx.$contrast-hl;
//   }
// }

.PlaylistCard__left {
  display: flex;
    column-gap: .8rem;
}

.PlaylistCard__info {

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    opacity: .5;
  }
}

.PlaylistCard__cover {
  width: 5rem;
    border-radius: .4rem;

  img {
    display: block;
    border-radius: .4rem;
  }
}