@use '@assets/styles/index.scss' as idx;

.Queue {
  position: absolute;
    top: 0;
    z-index: 1000;
    overflow-y: scroll;

  display: flex;
    flex-direction: column;

  min-height: 100vh;
  height: max-content;

  width: 100vw;

  background: idx.$background;
  box-shadow: -15px 0px 5px 0px rgba(0,0,0,0.4);;

  .SongsList {
    height: max-content;
  }
}

.Queue__header {
  margin: idx.$general-padding;
}

.Queue__options {
  display: flex;
    justify-content: space-between;

  margin-block-end: idx.$general-padding;
}

.Queue__title {
  margin-block-end: calc(idx.$general-padding * 1.5);

  h1 {
    font-size: 2.4rem;
  }
}