@use '@assets/styles/index.scss' as idx;

.Search {
  display: flex;
    flex-direction: column;

  margin-inline-end: idx.$general-padding;
}

.Search--navbar {
  margin-inline: 0;
  .Search__input {
    padding-inline: idx.$general-padding; 
  }
}

.Search__results--playlist {
  height: calc(100% - 14.2rem);
  overflow-y: scroll;
  .SongsList {
        padding-block-end: 7.8rem;
  }
}

.Search__results {
  max-height: calc(100vh - 12.3rem);
}

.Search__input {
  display: flex;

  width: 100%;
    margin-block: idx.$general-padding;
    padding-inline-start: idx.$general-padding;
    height: 4rem;

  input {
    flex-grow: 1;

    height: 100%;
      padding-inline-start: .8rem;
      padding-block: 2rem;
      border-bottom-left-radius: .4rem;
      border-top-left-radius: .4rem;

    background: rgba(#68676b, .5);
      outline: none;
      border: none;
      color: white;
  }
  .Search__input__clear-button {
    display: flex;
      justify-content: center;
      align-items: center;
    width: 4rem;
      height: 4rem;

    background: rgba(#68676b, .5);
      border-bottom-right-radius: .4rem;
      border-top-right-radius: .4rem;

    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.Search__select-all {
  display: flex;
    justify-content: space-between;
    align-items: center;

  padding-inline: idx.$general-padding;

  margin-block-end: 1.6rem;
}