@use '@assets/styles/index.scss' as idx;

.SelectMode {
  position: fixed;
    top: 0;
    z-index: 1000;

  display: flex;
    justify-content: space-between;

  width: 100%;
    padding: idx.$general-padding;

  background: idx.$background;

  .SelectMode__left, .SelectMode__right {
    display: flex;
      align-items: center;
      column-gap: .8rem;
  }
}