@use '@assets/styles/index.scss' as idx;

.Songs {
  position: relative;
}

.Songs__header {
  position: sticky;
    top: 0;
    z-index: 1;
}

.Songs__header-info {
  display: flex;
    justify-content: space-between;
    align-items: center;

  width: 100%;

  padding: idx.$general-padding;

  background: idx.$background;
}