@use '@assets/styles/index.scss' as idx;

.Songs {
  position: relative;
  height: 100%;

  .SongsList {
    height: calc(100% - 6.7rem);
  }
}

.Songs__header {
  position: sticky;
    top: 0;
    z-index: 1;
}

.Songs__header-info {
  display: flex;
    justify-content: space-between;
    align-items: center;

  width: 100%;

  padding: idx.$general-padding;

  background: idx.$background;
}

.Songs__no-songs {
  display: flex;
    justify-content: center;
    align-items: center;

  height: calc(100% - 13.4rem);

}