@use '@assets/styles/index.scss' as idx;

.SongsList {
  display: flex;
    flex-direction: column;
    row-gap: 1.4rem;

  padding-inline: idx.$general-padding;
  padding-block-end: 1.4rem;
  margin-block-end: 1.4rem;
}
