@use '@assets/styles/index.scss' as idx;


%default-set-flex {
  display: flex;
    justify-content: space-between;
}

.TrackView {
  // @extend %default-set-flex;
  //   flex-flow: column;
  //   position: fixed;
  //   top: 0;

  display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content 1fr min-content;
    position: fixed;
    z-index: 500;
    top: 0;

  width: 100%;
    min-height: 100vh;
    padding: idx.$general-padding;

  background: #544443;
}

.TrackView__top {
  @extend %default-set-flex;
}

.TrackView__main {
  position: relative;
}

.overview__general {
  display: flex;
    flex-flow: column;
    align-items: center;

  margin-block-end: .5rem;
}

.overview__general__top {
  @extend %default-set-flex;
    align-items: center;

  width: 100%;
}

.overview__general__track-name {
  display: block;

  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  margin-block-end: .4rem;
}

.overview__general__track-artist {
  opacity: .6;
}

.overview__time {
  margin-block-end: 1rem;
}

.TrackView__controls {
  display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Trackview__controls__main {
  @extend %default-set-flex;
    align-items: center;
}

.play-pause-button {
  border: 2px solid white;
}

.controls__main__center {
  display: flex;
}

.Trackview__controls__secondary {
  @extend %default-set-flex;
    align-items: center;
}