@use '@assets/styles/index.scss' as idx;
$boder-radius: .4rem;
$icons-size: 5rem;
$icons-size-current: calc($icons-size - 1rem); 

%trackCard-icons-defaults {
  display: grid;
    place-content: center;

  background-color: #121212;
    border-radius: 50%;

  img {
    width: 3rem;
  }
}

%track-cover-defaults {
    border-radius: $boder-radius;

  img {
    display: block;

    border-radius: $boder-radius;
  }
}

.TrackCard {
  display: flex;
    justify-content: space-between;

  width: 100%;
    padding-block: .7rem;
    padding-inline-start: idx.$general-padding;

  // outline: 2px solid red;

  .TrackCard--left--default, .TrackCard--left--queue, .TrackCard--left--addPlaylist, .TrackCard--left--playlist, .TrackCard--left--search {
    display: flex;

    width: calc(100% - ($icons-size * 2) + 1.2rem) ;
  }
  .TrackCard--left--current {
    display: flex;
    width: calc(100% - ($icons-size * 2.5) + 1.2rem) ;
  }

  .TrackCard--right {
    display: flex;

    .TrackCard__section {
      align-items: center;
    }
  }
}

.TrackCard--current {
  position: relative;
    z-index: 250;
}

.track-cover--default, .track-cover--queue, .track-cover--addPlaylist, .track-cover--playlist, .track-cover--search {
  @extend %track-cover-defaults;

  width: $icons-size;
    height: $icons-size;
}

.track-cover--current {
  @extend %track-cover-defaults;

  width: $icons-size-current;
    height: $icons-size-current;
}

.TrackCard--right .TrackCard__section {
  display: flex;

  height: 100%;
}

.TrackCard__section__info {
  margin-inline-start: 1.2rem;

  overflow: hidden;

  h3 {
    opacity: .6;
  }
}

.track-name {
  display: block;

  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  margin-block-end: .4rem;
}

.TrackCard__icon {
  @extend %trackCard-icons-defaults;

  width: $icons-size; 
    height: $icons-size;
}

.TrackCard__icon--current{
  @extend %trackCard-icons-defaults;

  width: $icons-size-current !important;
    height: $icons-size-current !important;
}