@use '@assets/styles/index.scss' as idx;

.UploadSongs {
  position: relative;
    width: fit-content;
      height: fit-content;

  label {
    img {
      display: block;
    }
  }
}

.UploadSongs__custom-button{
  display: flex;
    align-items: center;
    column-gap: 1.6rem;

  padding-inline: idx.$general-padding;

  background-color: idx.$contrast-hl;
    border-radius: .4rem;
    cursor: pointer;
}