@use './normalize.css';
@use './keyframes.scss';


//Fonts
@font-face {
  font-family: 'DM Sans';
  src: url('@assets/fonts/dm-sans-v11-latin-regular.woff2') format('woff2'),
    url('@assets/fonts/dm-sans-v11-latin-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('@assets/fonts/dm-sans-v11-latin-500.woff2') format('woff2'),
    url('@assets/fonts/dm-sans-v11-latin-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('@assets/fonts/dm-sans-v11-latin-700.woff2') format('woff2'),
    url('@assets/fonts/dm-sans-v11-latin-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


//Font-styles
  $font-stack: 'DM Sans',sans-serif;
  $font-size: 62.5%;


//Color palette
  $background: #33313B;
  $main: #86003C;
  $secondary: #E41F7B;
  $highlights: #e67589;
  $contrast-hl: #53525A;
  $white: #FFFFFF;

//Breakpoint
$first-bp: 768px;

//Animations
  .infinite-scroll {
    animation: viewInfiniteScroll 15s infinite linear;
  }

  .infinite-scroll-card {
    animation: cardInfiniteScroll 15s infinite linear;
  }


//general styles

$general-padding: 1.6rem;

html {
  user-select: none;
  font-size: $font-size;
  min-height: 100%;
}

body {
  font-family: $font-stack;
    font-size: 1.6rem;
    color: $white;

  min-height: 100vh;

  background: $background;
}

input[type="range"] {
  -webkit-appearance: none;
    appearance: none;
    cursor: pointer;

  height: .5rem;

  background: white;
    border-radius: .5rem;

  &::-webkit-slider-runnable-track {
    height: .5rem;

    border-radius: .5rem;
  }

  &::-webkit-slider-thumb {
    position: relative;
      top: - 0.5rem;

    -webkit-appearance: none;

    height: 1.6rem;
      width: 1.6rem;

    background: $highlights;
      border-radius: 50%;
      border: 1px solid white;
  }
}

#root {
  min-height: 100vh;
}

h1 {
  font-size: 1.8rem;
    line-height: 2rem;
}

h2 {
  font-size: 1.4rem;
    line-height: 1.8rem;
}

h3 {
  font-size: 1.2rem;
    line-height: 1.6rem;
}

@media (pointer: fine) {

  //scroll bar
  ::-webkit-scrollbar {
    height: 1rem;
    width: .8rem;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: $highlights;
    border-radius: 1.2rem;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  //general
  .PlaylistCard, .TrackCard--default, .TrackCard--search, .TrackCard--playlist{
    &:hover{
    background-color: $contrast-hl;
    }
  }

  .Search__select-all {
    padding-inline-end: calc($general-padding + .8rem);
  }
}


//Exports if necessary in js

/*
:export{
  background: $background;
  main: $main;
  secondary: $secondary;
  highlights: $highlights;
  white: $white;
  
}
*/