@use './normalize.css';


//Fonts
@font-face {
  font-family: 'DM Sans';
  src: url('@assets/fonts/dm-sans-v11-latin-regular.woff2') format('woff2'),
    url('@assets/fonts/dm-sans-v11-latin-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('@assets/fonts/dm-sans-v11-latin-500.woff2') format('woff2'),
    url('@assets/fonts/dm-sans-v11-latin-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('@assets/fonts/dm-sans-v11-latin-700.woff2') format('woff2'),
    url('@assets/fonts/dm-sans-v11-latin-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


//Font-styles
  $font-stack: 'DM Sans',sans-serif;
  $font-size: 62.5%;


//Color palette
  $background: #33313B;
  $main: #86003C;
  $secondary: #E41F7B;
  $highlights: #FF8BA0;
  $white: #FFFFFF;

//general styles

$general-padding: 1.6rem;

html {
  font-size: $font-size;
}

body {
  font-family: $font-stack;
    font-size: 1.6rem;
    color: $white;

  background: $background;
}

h1 {
  font-size: 2.4rem;
    line-height: 2.6rem;
}

h2 {
  font-size: 1.4rem;
    line-height: 1.8rem;
}

h3 {
  font-size: 1.2rem;
    line-height: 1.6rem;
}

@media (pointer: fine) {

  ::-webkit-scrollbar {
    height: 1rem;
    width: 1.2rem;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: $main;
    border-radius: 1.2rem;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

}


//Exports if necessary in js

/*
:export{
  background: $background;
  main: $main;
  secondary: $secondary;
  highlights: $highlights;
  white: $white;
  
}
*/